@use "../../styles/colors" as color;

.header {
  width: 100vw;
  height: 5rem;
  background-color: color.$brand-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;

  .toggle {
    // visibility: hidden;
    // position: absolute;
    display: none;
  }

  .toggle:checked {
    margin-left: 15px;
  }

  .toggle:checked ~ nav {
    // transform: scale(1, 1);
    animation: Hamburger 0.5s ease-in-out 0s 1 forwards;
  }

  nav {
    position: absolute;
    top: 5rem;
    background: #ffffff;
    width: 100%;
    transition: display 0.3s ease-out;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-out;
  }

  ul {
    margin: 1.4rem 0;
    opacity: 0;
  }

  .toggle:checked ~ nav ul {
    // opacity: 1;
    // transition: opacity 0.2s ease-out 0.15s;
    animation: Hamburger 0.5s ease-in-out 0s 1 forwards;
  }

  @keyframes Hamburger {
    0% {
      transform: scale(1, 0);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  .toggle__label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7.5%;
    display: flex;
    align-items: center;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 30px;
    height: 3px;
    background-color: color.$gray-6;
  }

  .hamburger {
    position: relative;
  }

  .hamburger::before,
  .hamburger::after {
    position: absolute;
    left: 0;
    content: "";
  }

  .hamburger::before {
    top: 8px;
  }

  .hamburger::after {
    bottom: 8px;
  }

  a {
    text-decoration: none;
    color: color.$gray-10;
    font-weight: 500;
  }

  .loge {
    //@include font-setting(2rem, 500, color.$gray-11);
    font-size: 2rem;
    font-weight: 500;
    color: color.$gray-11;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;

    li {
      margin: 0 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 20vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

    .loge {
      width: 20vw;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      width: 20vw;
      height: 80%;
      margin-top: 1rem;
      display: flex;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
      }
    }
  }
}
