@use "../../styles/colors" as color;

.content {
  width: 80%;
  height: 6rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: color.$gray-1;
  z-index: 10;
  //把box 放在地圖上方中間
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  //grid
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 45% 10% 35% 1fr;
  grid-template-rows: repeat(2, 2rem);
  grid-template-areas:
    "inputBox inputBox buttonBox del"
    "distanceBox durationBox . userCenter";
}

.inputBox {
  grid-area: inputBox;
  width: 100%;
  height: 100%;
}

.buttonBox {
  grid-area: buttonBox;
  width: 100%;
  height: 100%;
}

.del {
  grid-area: del;
  cursor: pointer;
}

.distanceBox {
  grid-area: distanceBox;
  width: 100%;
  height: 100%;
  line-height: 2rem;
}

.durationBox {
  grid-area: durationBox;
  width: 100%;
  height: 100%;
  line-height: 2rem;
}

.userCenter {
  grid-area: userCenter;
  cursor: pointer;
}

.tiDelete:hover {
  color: red;
}

.tiLocation:hover {
  color: blue;
}
