@use "../../styles/colors" as color;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 20;
}

.modal__container {
  width: 100%;
  height: 30vh;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: color.$gray-4;
  border-radius: 30px;
  z-index: 21;

  .modal__title {
    margin: 0 auto;
  }
  .modal__bike {
    width: 100%;
  }
  .modal__vacant {
    width: 100%;
  }
  .modal__time {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal__container {
    width: 40vw;
    height: auto;
  }
}
