@use "../../../styles/colors" as color;
@use "../../../styles/mixin";

.btn__pill {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn__link {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: none;
  @include mixin.font-setting(1rem, 400, white);
  cursor: pointer;
}

.btn__link__black {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: none;
  @include mixin.font-setting(1rem, 400, black);
  cursor: pointer;
}

.btn__pill:hover {
  background-color: color.$primary-color;
  color: color.$assistant-gray-color;
}
.btn__link:hover {
  color: color.$primary-color;
}
.btn__link__black:hover {
  color: color.$gray-4;
}
