// colors
$brand-color: #ff6600;
$primary-color: #1f4567;
$success-color: #3dd598;
$warning-color: #ffc542;
$error-color: #fc5a5a;

// assistant color
$assistant-orange-color: #ff974a;
$assistant-blue-color: #50b5ff;
$assistant-green-color: #82c43c;
$assistant-purple-color: #a461d8;
$assistant-pink-color: #ff9ad5;
$assistant-gray-color: #e6ecf0;

// grayscale color
$gray-11: #171717;
$gray-10: #171725;
$gray-9: #44444f;
$gray-8: #696974;
$gray-7: #92929d;
$gray-6: #b5b5be;
$gray-5: #d5d5dc;
$gray-4: #e2e2ea;
$gray-3: #f1f1f5;
$gray-2: #fafafb;
$gray-1: #ffffff;
